<div class="main-container">

  <section class="main-nav-women-men-left">

    <ng-template
      *ngTemplateOutlet="getMenNav() ? showMenNav : getWomenNav() ? showWomenNav : getChildrenNav() ? showChildrenNav : getGirlsNav() ? showGirlsNav : getBoysNav() ? showBoysNav : getShoesNav() ? showShoesNav : getAccessoriesNav() ? showAccessoriesNav : null "></ng-template>

    <!--    MEN NAV-->
    <ng-template #showMenNav>
      <nav *ngIf="getMenNav()" class="main-nav-men">
        <article class="nav-men-header">
          <h5 class="no-margin">MEN CLOTHES</h5>
        </article>

        <ul class="nav-ul" (change)="filterChangedDetect()">

          <li class="nav-ul-li" *ngFor="let maleNav of userService.clothEnum?.clothType | filterPipe:menFilter">
            <input type="checkbox" [name]="maleNav.toUpperCase()" class="cloth-type" id="men-cloth-nav">
            {{maleNav}}
          </li>


        </ul>
      </nav>
    </ng-template>

    <!--WOMEN NAV-->
    <ng-template #showWomenNav>
      <nav *ngIf="getWomenNav()" class="main-nav-women">

        <article class="nav-men-header">
          <h5 class="no-margin">WOMEN CLOTHES</h5>
        </article>

        <ul class="nav-ul" (change)="filterChangedDetect()">

          <li class="nav-ul-li" *ngFor="let femaleNav of userService.clothEnum?.clothType | filterPipe:womenFilter">
            <input type="checkbox" [name]="femaleNav.toUpperCase()" class="cloth-type" id="women-cloth-nav">
            {{femaleNav}}
          </li>

        </ul>
      </nav>
    </ng-template>

    <!--    CHILDREN NAV-->
    <ng-template #showChildrenNav>

      <ng-template #arrowUp>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </ng-template>
      <ng-template #arrowDown>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </ng-template>

      <nav class="main-nav-women">

        <article class="nav-men-header">
          <h5 class="no-margin children-header" (click)="showGirlsNavChildren = !showGirlsNavChildren">GIRLS CLOTHES
            <ng-template [ngTemplateOutlet]="showGirlsNavChildren ? arrowUp : arrowDown"></ng-template>
          </h5>
        </article>

        <ul class="nav-ul" *ngIf="showGirlsNavChildren" (change)="filterChangedDetect('GIRLS')">
          <li class="nav-ul-li" *ngFor="let girlNav of userService.clothEnum?.clothType | filterPipe:girlsFilter">
            <input type="checkbox" [name]="girlNav.toUpperCase()" class="cloth-type" id="girls-cloth-nav">
            {{girlNav}}
          </li>
        </ul>

        <article class="nav-men-header">
          <h5 class="no-margin children-header" (click)="showBoysNavChildren = !showBoysNavChildren">BOYS CLOTHES
            <ng-template [ngTemplateOutlet]="showBoysNavChildren ? arrowUp : arrowDown"></ng-template>
          </h5>
        </article>

        <ul class="nav-ul" *ngIf="showBoysNavChildren" (change)="filterChangedDetect('BOYS')">
          <li class="nav-ul-li" *ngFor="let boyNav of userService.clothEnum?.clothType | filterPipe:boysFilter">
            <input type="checkbox" [name]="boyNav.toUpperCase()" class="cloth-type" id="boys-cloth-nav">
            {{boyNav}}
          </li>
        </ul>
      </nav>

    </ng-template>

    <!--    GIRLS NAV-- DOESNT USE THEM YET -->
    <ng-template #showGirlsNav>
      <nav class="main-nav-women">

        <article class="nav-men-header">
          <h5 class="no-margin">GIRLS CLOTHES</h5>
        </article>

        <ul class="nav-ul" (change)="filterChangedDetect('GIRLS')">
          <li class="nav-ul-li" *ngFor="let girlNav of userService.clothEnum?.clothType | filterPipe:girlsFilter">
            <input type="checkbox" [name]="girlNav.toUpperCase()" class="cloth-type" id="women-cloth-nav">
            {{girlNav}}
          </li>
        </ul>

      </nav>
    </ng-template>

    <!--    BOYS NAV-- DOESNT USE THEM YET -->
    <ng-template #showBoysNav>
      <nav class="main-nav-women">

        <article class="nav-men-header">
          <h5 class="no-margin">BOYS CLOTHES</h5>
        </article>

        <ul class="nav-ul" (change)="filterChangedDetect('BOYS')">
          <li class="nav-ul-li" *ngFor="let boyNav of userService.clothEnum?.clothType | filterPipe:boysFilter">
            <input type="checkbox" [name]="boyNav.toUpperCase()" class="cloth-type" id="women-cloth-nav">
            {{boyNav}}
          </li>
        </ul>

      </nav>
    </ng-template>

    <!--    SHOES NAV-->
    <ng-template #showShoesNav>

      <ng-template #arrowUp>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </ng-template>
      <ng-template #arrowDown>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </ng-template>

      <nav class="main-nav-women">

        <article class="nav-men-header">
          <h5 class="no-margin children-header" (click)="showGirlsNavShoes = !showGirlsNavShoes">GIRLS SHOES
            <ng-template [ngTemplateOutlet]="showGirlsNavShoes ? arrowUp : arrowDown"></ng-template>
          </h5>
        </article>

        <ul class="nav-ul" *ngIf="showGirlsNavShoes" (change)="filterChangedDetect('GIRLS')">
          <li class="nav-ul-li" *ngFor="let girlNav of userService.clothEnum?.shoesType | filterPipe:girlsFilter">
            <input type="checkbox" [name]="girlNav.toUpperCase()" class="cloth-type" id="girls-cloth-nav">
            {{girlNav}}
          </li>
        </ul>

        <article class="nav-men-header">
          <h5 class="no-margin children-header" (click)="showBoysNavShoes = !showBoysNavShoes">BOYS SHOES
            <ng-template [ngTemplateOutlet]="showBoysNavShoes ? arrowUp : arrowDown"></ng-template>
          </h5>
        </article>

        <ul class="nav-ul" *ngIf="showBoysNavShoes" (change)="filterChangedDetect('BOYS')">
          <li class="nav-ul-li" *ngFor="let boyNav of userService.clothEnum?.shoesType | filterPipe:boysFilter">
            <input type="checkbox" [name]="boyNav.toUpperCase()" class="cloth-type" id="boys-cloth-nav">
            {{boyNav}}
          </li>
        </ul>

        <article class="nav-men-header">
          <h5 class="no-margin children-header" (click)="showWomenNavShoes = !showWomenNavShoes">WOMEN SHOES
            <ng-template [ngTemplateOutlet]="showWomenNavShoes ? arrowUp : arrowDown"></ng-template>
          </h5>
        </article>

        <ul class="nav-ul" *ngIf="showWomenNavShoes" (change)="filterChangedDetect('WOMEN')">
          <li class="nav-ul-li" *ngFor="let boyNav of userService.clothEnum?.shoesType | filterPipe:womenFilter">
            <input type="checkbox" [name]="boyNav.toUpperCase()" class="cloth-type" id="women-cloth-nav">
            {{boyNav}}
          </li>
        </ul>

        <article class="nav-men-header">
          <h5 class="no-margin children-header" (click)="showMenNavShoes = !showMenNavShoes">MEN SHOES
            <ng-template [ngTemplateOutlet]="showMenNavShoes ? arrowUp : arrowDown"></ng-template>
          </h5>
        </article>

        <ul class="nav-ul" *ngIf="showMenNavShoes" (change)="filterChangedDetect('MEN')">
          <li class="nav-ul-li" *ngFor="let menNav of userService.clothEnum?.shoesType | filterPipe:menFilter">
            <input type="checkbox" [name]="menNav.toUpperCase()" class="cloth-type" id="men-cloth-nav">
            {{menNav}}
          </li>
        </ul>

      </nav>

    </ng-template>

    <!--  ACCESSORIES NAV-->
    <ng-template #showAccessoriesNav>

      <ng-template #arrowUp>
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
      </ng-template>
      <ng-template #arrowDown>
        <i class="fa fa-arrow-down" aria-hidden="true"></i>
      </ng-template>

      <nav class="main-nav-women">

        <article class="nav-men-header">
          <h5 class="no-margin children-header" (click)="showGirlsNavAccessories = !showGirlsNavAccessories">GIRLS
            ACCESSORIES
            <ng-template [ngTemplateOutlet]="showGirlsNavAccessories ? arrowUp : arrowDown"></ng-template>
          </h5>
        </article>

        <ul class="nav-ul" *ngIf="showGirlsNavAccessories" (change)="filterChangedDetect('GIRLS')">
          <li class="nav-ul-li" *ngFor="let girlNav of userService.clothEnum?.accessoriesType | filterPipe:girlsFilter">
            <input type="checkbox" [name]="girlNav.toUpperCase()" class="cloth-type" id="girls-cloth-nav">
            {{girlNav}}
          </li>
        </ul>

        <article class="nav-men-header">
          <h5 class="no-margin children-header" (click)="showBoysNavAccessories = !showBoysNavAccessories">BOYS
            ACCESSORIES
            <ng-template [ngTemplateOutlet]="showBoysNavAccessories ? arrowUp : arrowDown"></ng-template>
          </h5>
        </article>

        <ul class="nav-ul" *ngIf="showBoysNavAccessories" (change)="filterChangedDetect('BOYS')">
          <li class="nav-ul-li" *ngFor="let boyNav of userService.clothEnum?.accessoriesType | filterPipe:boysFilter">
            <input type="checkbox" [name]="boyNav.toUpperCase()" class="cloth-type" id="boys-cloth-nav">
            {{boyNav}}
          </li>
        </ul>

        <article class="nav-men-header">
          <h5 class="no-margin children-header" (click)="showWomenNavAccessories = !showWomenNavAccessories">WOMEN
            ACCESSORIES
            <ng-template [ngTemplateOutlet]="showWomenNavAccessories ? arrowUp : arrowDown"></ng-template>
          </h5>
        </article>

        <ul class="nav-ul" *ngIf="showWomenNavAccessories" (change)="filterChangedDetect('WOMEN')">
          <li class="nav-ul-li" *ngFor="let boyNav of userService.clothEnum?.accessoriesType | filterPipe:womenFilter">
            <input type="checkbox" [name]="boyNav.toUpperCase()" class="cloth-type" id="women-cloth-nav">
            {{boyNav}}
          </li>
        </ul>

        <article class="nav-men-header">
          <h5 class="no-margin children-header" (click)="showMenNavAccessories = !showMenNavAccessories">MEN ACCESSORIES
            <ng-template [ngTemplateOutlet]="showMenNavAccessories ? arrowUp : arrowDown"></ng-template>
          </h5>
        </article>

        <ul class="nav-ul" *ngIf="showMenNavAccessories" (change)="filterChangedDetect('MEN')">
          <li class="nav-ul-li" *ngFor="let menNav of userService.clothEnum?.accessoriesType | filterPipe:menFilter">
            <input type="checkbox" [name]="menNav.toUpperCase()" class="cloth-type" id="men-cloth-nav">
            {{menNav}}
          </li>
        </ul>

      </nav>

    </ng-template>

  </section>

  <section class="main-clothes-right">

    <section class="main-clothes-filter">

      <article class="clothes-filter-brands">

        <select name="brand" id="clothes-brand" class="color-text" (change)="filterChangedDetect()">

          <option value="" selected hidden>Brands</option>
          <option value="">any</option>
          <ng-container *ngFor="let brand of userService.clothEnum?.clothBrand">
            <option value="{{brand}}">{{brand}}</option>
          </ng-container>

        </select>

      </article>

      <article class="clothes-filter-sizes">

        <select name="size" id="clothes-size" class="color-text" (change)="filterChangedDetect()">

          <option value="" selected hidden>Sizes</option>
          <option value="">any</option>
          <ng-container *ngFor="let size of userService.clothEnum?.clothSize">
            <option value="{{size}}">{{size}}</option>
          </ng-container>


        </select>

      </article>

      <article class="clothes-filter-discounts">

        <select name="discounts" id="clothes-discounts" class="color-text" (change)="filterChangedDetect()">

          <option value="" selected hidden>discounts</option>
          <option value="">any</option>
          <option value="30">From 0% to 30%</option>
          <option value="60">From 30% to 60%</option>
          <option value="100">Over 60%</option>

        </select>

      </article>

      <article class="clothes-filter-colors">

        <select name="color" id="clothes-colors" class="color-text" (change)="filterChangedDetect()">

          <option value="" selected hidden>Color</option>
          <option value="">any</option>
          <ng-container *ngFor="let color of userService.clothEnum?.clothColor">
            <option value="{{color}}" [ngStyle]="{'backgroundColor': color}">{{color}}</option>

          </ng-container>


        </select>

      </article>

      <!-- FILTER BTN -->
      <article class="clothes-filter-prices-btn" (click)="showPriceFilter = !showPriceFilter">
        <!--        <p class="no-margin">FILTER</p>-->
        <ng-template *ngTemplateOutlet="showPriceFilter ? showedText : hiddenText">
        </ng-template>

        <ng-template #showedText>
          <p class="no-margin color-text">HIDE FILTER</p>
        </ng-template>
        <ng-template #hiddenText>
          <p class="no-margin color-text">SHOW FILTER</p>
        </ng-template>
      </article>

      <!-- SHOW THIS SECTION AFTER CLICK FILTER BTN -->
      <article class="clothes-filter-prices" *ngIf="showPriceFilter">

        <div class="price-field">
          <input type="range" min="1" max="999" value="1" id="lower">
          <input type="range" min="1" max="999" value="999" id="upper">
        </div>

        <div class="price-container">

          <div class="price-wrap-1">

            <input id="one">
            <label for="one">BGN</label>

          </div>

          <div class="price-wrap-2">

            <input id="two">
            <label for="two">BGN</label>

          </div>
        </div>

      </article>

    </section>


    <!--    IF CLOTHES ALREADY DOWNLOADED FROM API THEN I MUST SHOW THEM AND HIDE LOADING SPINNER-->
    <section class="main-clothes-list">

      <div class="main-clothes-card" [class.sold-clothes]="cloth.quantity < 1" *ngFor="let cloth of this.booleanService.clothes?.content">
        <section class="clothes-card-icon-text">
          <article class="clothes-card-text hidden">

            <article class="card-text-arrow-icon">
            </article>

            <p class="no-margin clothes-like-customer-text"><span>{{cloth.likes}}</span> customers like this</p>

          </article>

          <article class="clothes-card-icon-favorite" (mouseenter)="hideOrShowCardLikes('enter')"
                   (mouseleave)="hideOrShowCardLikes('leave')">

            <ng-container [ngTemplateOutlet]="sharedService.checkItemIsAddedLike(cloth.id) ? showLike : showUnlike"></ng-container>

            <ng-template #showLike>
              <img src="/assets/images/assets/icon_favourite_on.png" alt="like-ico">
            </ng-template>

            <ng-template #showUnlike>
              <img src="/assets/images/assets/icon_favourite_off.png" alt="un-like-ico" (click)="likeCloth(cloth!)">
            </ng-template>




          </article>
        </section>

        <section class="clothes-card-img" ng-if="" [routerLink]="cloth.quantity < 1  ? [] : ['/item/review/',cloth.id]">

          <img src="{{cloth.coverPicture.url}}" alt="img">

        </section>

        <section class="clothes-card-information-brand-size">

          <article class="clothes-card-information-brand">
            <span>{{cloth.brand}}</span>
          </article>

          <article class="clothes-card-information-size">
            <span>{{cloth.size}}</span>
          </article>

        </section>

        <section class="clothes-card-information-startprice-newprice">

          <article class="clothes-card-information-startprice">
            <p class="no-margin"><span>{{cloth.startPrice}}</span> BGN</p>
          </article>

          <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
          <article class="clothes-card-information-newprice">
            <p class="no-margin"><span>{{cloth.newPrice}}</span> BGN</p>
          </article>

        </section>

        <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
        <section class="clothes-card-saved-text-percent">

          <article class="clothes-card-saved-text">
            <p class="no-margin">Saved</p>
          </article>

          <article class="clothes-card-saved-percent">
            <p class="no-margin">-
              <span>{{sharedService.calculatePercentOfDiscount(cloth.startPrice, cloth.newPrice)}}</span>%</p>
          </article>

        </section>

        <section class="clothes-card-btn">


          <ng-container [ngTemplateOutlet]="sharedService.checkItemIsAddedCart(cloth.id) == true ? added : add"></ng-container>

          <ng-template #add>
            <article class="btn-add" (click)="addToCart(cloth)">ADD</article>
          </ng-template>
          <!-- IF THE ITEM HAS ADDED ALREADY ! -->

          <ng-template #added>
            <article class="nonbtn-added">ADDED BY ME</article>
          </ng-template>

          <!-- <input type="button" value="ADD"> -->

        </section>

      </div>

      <div class="main-clothes-card sold-clothes">

        <section class="clothes-card-icon-text">

          <article class="clothes-card-text">

            <article class="card-text-arrow-icon">
            </article>

            <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>

          </article>

          <article class="clothes-card-icon-favorite">
            <img src="/assets/images/assets/icon_favourite_off.png" alt="">
          </article>
        </section>

        <section class="clothes-card-img">

          <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">

        </section>

        <section class="clothes-card-information-brand-size">

          <article class="clothes-card-information-brand">
            <span>BY MALENE BIRGER</span>
          </article>

          <article class="clothes-card-information-size">
            <span>S</span>
          </article>

        </section>

        <section class="clothes-card-information-startprice-newprice">

          <article class="clothes-card-information-startprice">
            <p class="no-margin"><span>165.90</span> лв.</p>
          </article>

          <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
          <article class="clothes-card-information-newprice">
            <p class="no-margin"><span>90.90</span> лв.</p>
          </article>

        </section>

        <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
        <section class="clothes-card-saved-text-percent">

          <article class="clothes-card-saved-text">
            <p class="no-margin">Saved</p>
          </article>

          <article class="clothes-card-saved-percent">
            <p class="no-margin">- <span>40</span>%</p>
          </article>

        </section>

        <section class="clothes-card-btn">

          <article class="btn-add">ADD</article>

          <!-- IF THE ITEM HAS ADDED ALREADY ! -->

          <!-- <article class="nonbtn-added">ADDED BY ME</article> -->

          <!-- <input type="button" value="ADD"> -->

        </section>

      </div>

      <div class="main-clothes-card">

        <section class="clothes-card-icon-text">

          <article class="clothes-card-text">

            <article class="card-text-arrow-icon">
            </article>

            <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>

          </article>

          <article class="clothes-card-icon-favorite">
            <img src="/assets/images/assets/icon_favourite_off.png" alt="">
          </article>
        </section>

        <section class="clothes-card-img">

          <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">

        </section>

        <section class="clothes-card-information-brand-size">

          <article class="clothes-card-information-brand">
            <span>BY MALENE BIRGER</span>
          </article>

          <article class="clothes-card-information-size">
            <span>S</span>
          </article>

        </section>

        <section class="clothes-card-information-startprice-newprice">

          <article class="clothes-card-information-startprice">
            <p class="no-margin"><span>165.90</span> лв.</p>
          </article>

          <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
          <article class="clothes-card-information-newprice">
            <p class="no-margin"><span>90.90</span> лв.</p>
          </article>

        </section>

        <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
        <section class="clothes-card-saved-text-percent">

          <article class="clothes-card-saved-text">
            <p class="no-margin">Saved</p>
          </article>

          <article class="clothes-card-saved-percent">
            <p class="no-margin">- <span>40</span>%</p>
          </article>

        </section>

        <section class="clothes-card-btn">

          <article class="btn-add">ADD</article>

          <!-- IF THE ITEM HAS ADDED ALREADY ! -->

          <!-- <article class="nonbtn-added">ADDED BY ME</article> -->

          <!-- <input type="button" value="ADD"> -->

        </section>

      </div>

      <!--      OTHER CARDS-->
      <!--     <div> -->
      <!--       <div class="main-clothes-card">-->

      <!--       <section class="clothes-card-icon-text">-->

      <!--         <article class="clothes-card-text">-->

      <!--           <article class="card-text-arrow-icon">-->
      <!--           </article>-->

      <!--           <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>-->

      <!--         </article>-->

      <!--         <article class="clothes-card-icon-favorite">-->
      <!--           <img src="/assets/images/assets/icon_favourite_off.png" alt="">-->
      <!--         </article>-->
      <!--       </section>-->

      <!--       <section class="clothes-card-img">-->

      <!--         <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">-->

      <!--       </section>-->

      <!--       <section class="clothes-card-information-brand-size">-->

      <!--         <article class="clothes-card-information-brand">-->
      <!--           <span>BY MALENE BIRGER</span>-->
      <!--         </article>-->

      <!--         <article class="clothes-card-information-size">-->
      <!--           <span>S</span>-->
      <!--         </article>-->

      <!--       </section>-->

      <!--       <section class="clothes-card-information-startprice-newprice">-->

      <!--         <article class="clothes-card-information-startprice">-->
      <!--           <p class="no-margin"><span>165.90</span> лв.</p>-->
      <!--         </article>-->

      <!--         &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--         <article class="clothes-card-information-newprice">-->
      <!--           <p class="no-margin"><span>90.90</span> лв.</p>-->
      <!--         </article>-->

      <!--       </section>-->

      <!--       &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--       <section class="clothes-card-saved-text-percent">-->

      <!--         <article class="clothes-card-saved-text">-->
      <!--           <p class="no-margin">Saved</p>-->
      <!--         </article>-->

      <!--         <article class="clothes-card-saved-percent">-->
      <!--           <p class="no-margin">- <span>40</span>%</p>-->
      <!--         </article>-->

      <!--       </section>-->

      <!--       <section class="clothes-card-btn">-->

      <!--         <article class="btn-add">ADD</article>-->

      <!--         &lt;!&ndash; IF THE ITEM HAS ADDED ALREADY ! &ndash;&gt;-->

      <!--         &lt;!&ndash; <article class="nonbtn-added">ADDED BY ME</article> &ndash;&gt;-->

      <!--         &lt;!&ndash; <input type="button" value="ADD"> &ndash;&gt;-->

      <!--       </section>-->

      <!--     </div>-->

      <!--       <div class="main-clothes-card">-->

      <!--         <section class="clothes-card-icon-text">-->

      <!--           <article class="clothes-card-text">-->

      <!--             <article class="card-text-arrow-icon">-->
      <!--             </article>-->

      <!--             <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>-->

      <!--           </article>-->

      <!--           <article class="clothes-card-icon-favorite">-->
      <!--             <img src="/assets/images/assets/icon_favourite_off.png" alt="">-->
      <!--           </article>-->
      <!--         </section>-->

      <!--         <section class="clothes-card-img">-->

      <!--           <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-brand-size">-->

      <!--           <article class="clothes-card-information-brand">-->
      <!--             <span>BY MALENE BIRGER</span>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-information-size">-->
      <!--             <span>S</span>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-startprice-newprice">-->

      <!--           <article class="clothes-card-information-startprice">-->
      <!--             <p class="no-margin"><span>165.90</span> лв.</p>-->
      <!--           </article>-->

      <!--           &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--           <article class="clothes-card-information-newprice">-->
      <!--             <p class="no-margin"><span>90.90</span> лв.</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--         <section class="clothes-card-saved-text-percent">-->

      <!--           <article class="clothes-card-saved-text">-->
      <!--             <p class="no-margin">Saved</p>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-saved-percent">-->
      <!--             <p class="no-margin">- <span>40</span>%</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-btn">-->

      <!--           <article class="btn-add">ADD</article>-->

      <!--           &lt;!&ndash; IF THE ITEM HAS ADDED ALREADY ! &ndash;&gt;-->

      <!--           &lt;!&ndash; <article class="nonbtn-added">ADDED BY ME</article> &ndash;&gt;-->

      <!--           &lt;!&ndash; <input type="button" value="ADD"> &ndash;&gt;-->

      <!--         </section>-->

      <!--       </div>-->

      <!--       <div class="main-clothes-card">-->

      <!--         <section class="clothes-card-icon-text">-->

      <!--           <article class="clothes-card-text">-->

      <!--             <article class="card-text-arrow-icon">-->
      <!--             </article>-->

      <!--             <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>-->

      <!--           </article>-->

      <!--           <article class="clothes-card-icon-favorite">-->
      <!--             <img src="/assets/images/assets/icon_favourite_off.png" alt="">-->
      <!--           </article>-->
      <!--         </section>-->

      <!--         <section class="clothes-card-img">-->

      <!--           <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-brand-size">-->

      <!--           <article class="clothes-card-information-brand">-->
      <!--             <span>BY MALENE BIRGER</span>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-information-size">-->
      <!--             <span>S</span>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-startprice-newprice">-->

      <!--           <article class="clothes-card-information-startprice">-->
      <!--             <p class="no-margin"><span>165.90</span> лв.</p>-->
      <!--           </article>-->

      <!--           &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--           <article class="clothes-card-information-newprice">-->
      <!--             <p class="no-margin"><span>90.90</span> лв.</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--         <section class="clothes-card-saved-text-percent">-->

      <!--           <article class="clothes-card-saved-text">-->
      <!--             <p class="no-margin">Saved</p>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-saved-percent">-->
      <!--             <p class="no-margin">- <span>40</span>%</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-btn">-->

      <!--           <article class="btn-add">ADD</article>-->

      <!--           &lt;!&ndash; IF THE ITEM HAS ADDED ALREADY ! &ndash;&gt;-->

      <!--           &lt;!&ndash; <article class="nonbtn-added">ADDED BY ME</article> &ndash;&gt;-->

      <!--           &lt;!&ndash; <input type="button" value="ADD"> &ndash;&gt;-->

      <!--         </section>-->

      <!--       </div>-->

      <!--       <div class="main-clothes-card">-->

      <!--         <section class="clothes-card-icon-text">-->

      <!--           <article class="clothes-card-text">-->

      <!--             <article class="card-text-arrow-icon">-->
      <!--             </article>-->

      <!--             <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>-->

      <!--           </article>-->

      <!--           <article class="clothes-card-icon-favorite">-->
      <!--             <img src="/assets/images/assets/icon_favourite_off.png" alt="">-->
      <!--           </article>-->
      <!--         </section>-->

      <!--         <section class="clothes-card-img">-->

      <!--           <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-brand-size">-->

      <!--           <article class="clothes-card-information-brand">-->
      <!--             <span>BY MALENE BIRGER</span>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-information-size">-->
      <!--             <span>S</span>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-startprice-newprice">-->

      <!--           <article class="clothes-card-information-startprice">-->
      <!--             <p class="no-margin"><span>165.90</span> лв.</p>-->
      <!--           </article>-->

      <!--           &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--           <article class="clothes-card-information-newprice">-->
      <!--             <p class="no-margin"><span>90.90</span> лв.</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--         <section class="clothes-card-saved-text-percent">-->

      <!--           <article class="clothes-card-saved-text">-->
      <!--             <p class="no-margin">Saved</p>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-saved-percent">-->
      <!--             <p class="no-margin">- <span>40</span>%</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-btn">-->

      <!--           <article class="btn-add">ADD</article>-->

      <!--           &lt;!&ndash; IF THE ITEM HAS ADDED ALREADY ! &ndash;&gt;-->

      <!--           &lt;!&ndash; <article class="nonbtn-added">ADDED BY ME</article> &ndash;&gt;-->

      <!--           &lt;!&ndash; <input type="button" value="ADD"> &ndash;&gt;-->

      <!--         </section>-->

      <!--       </div>-->

      <!--       <div class="main-clothes-card">-->

      <!--         <section class="clothes-card-icon-text">-->

      <!--           <article class="clothes-card-text">-->

      <!--             <article class="card-text-arrow-icon">-->
      <!--             </article>-->

      <!--             <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>-->

      <!--           </article>-->

      <!--           <article class="clothes-card-icon-favorite">-->
      <!--             <img src="/assets/images/assets/icon_favourite_off.png" alt="">-->
      <!--           </article>-->
      <!--         </section>-->

      <!--         <section class="clothes-card-img">-->

      <!--           <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-brand-size">-->

      <!--           <article class="clothes-card-information-brand">-->
      <!--             <span>BY MALENE BIRGER</span>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-information-size">-->
      <!--             <span>S</span>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-startprice-newprice">-->

      <!--           <article class="clothes-card-information-startprice">-->
      <!--             <p class="no-margin"><span>165.90</span> лв.</p>-->
      <!--           </article>-->

      <!--           &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--           <article class="clothes-card-information-newprice">-->
      <!--             <p class="no-margin"><span>90.90</span> лв.</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--         <section class="clothes-card-saved-text-percent">-->

      <!--           <article class="clothes-card-saved-text">-->
      <!--             <p class="no-margin">Saved</p>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-saved-percent">-->
      <!--             <p class="no-margin">- <span>40</span>%</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-btn">-->

      <!--           <article class="btn-add">ADD</article>-->

      <!--           &lt;!&ndash; IF THE ITEM HAS ADDED ALREADY ! &ndash;&gt;-->

      <!--           &lt;!&ndash; <article class="nonbtn-added">ADDED BY ME</article> &ndash;&gt;-->

      <!--           &lt;!&ndash; <input type="button" value="ADD"> &ndash;&gt;-->

      <!--         </section>-->

      <!--       </div>-->

      <!--       <div class="main-clothes-card">-->

      <!--         <section class="clothes-card-icon-text">-->

      <!--           <article class="clothes-card-text">-->

      <!--             <article class="card-text-arrow-icon">-->
      <!--             </article>-->

      <!--             <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>-->

      <!--           </article>-->

      <!--           <article class="clothes-card-icon-favorite">-->
      <!--             <img src="/assets/images/assets/icon_favourite_off.png" alt="">-->
      <!--           </article>-->
      <!--         </section>-->

      <!--         <section class="clothes-card-img">-->

      <!--           <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-brand-size">-->

      <!--           <article class="clothes-card-information-brand">-->
      <!--             <span>BY MALENE BIRGER</span>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-information-size">-->
      <!--             <span>S</span>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-startprice-newprice">-->

      <!--           <article class="clothes-card-information-startprice">-->
      <!--             <p class="no-margin"><span>165.90</span> лв.</p>-->
      <!--           </article>-->

      <!--           &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--           <article class="clothes-card-information-newprice">-->
      <!--             <p class="no-margin"><span>90.90</span> лв.</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--         <section class="clothes-card-saved-text-percent">-->

      <!--           <article class="clothes-card-saved-text">-->
      <!--             <p class="no-margin">Saved</p>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-saved-percent">-->
      <!--             <p class="no-margin">- <span>40</span>%</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-btn">-->

      <!--           <article class="btn-add">ADD</article>-->

      <!--           &lt;!&ndash; IF THE ITEM HAS ADDED ALREADY ! &ndash;&gt;-->

      <!--           &lt;!&ndash; <article class="nonbtn-added">ADDED BY ME</article> &ndash;&gt;-->

      <!--           &lt;!&ndash; <input type="button" value="ADD"> &ndash;&gt;-->

      <!--         </section>-->

      <!--       </div>-->

      <!--       <div class="main-clothes-card">-->

      <!--         <section class="clothes-card-icon-text">-->

      <!--           <article class="clothes-card-text">-->

      <!--             <article class="card-text-arrow-icon">-->
      <!--             </article>-->

      <!--             <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>-->

      <!--           </article>-->

      <!--           <article class="clothes-card-icon-favorite">-->
      <!--             <img src="/assets/images/assets/icon_favourite_off.png" alt="">-->
      <!--           </article>-->
      <!--         </section>-->

      <!--         <section class="clothes-card-img">-->

      <!--           <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-brand-size">-->

      <!--           <article class="clothes-card-information-brand">-->
      <!--             <span>BY MALENE BIRGER</span>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-information-size">-->
      <!--             <span>S</span>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-startprice-newprice">-->

      <!--           <article class="clothes-card-information-startprice">-->
      <!--             <p class="no-margin"><span>165.90</span> лв.</p>-->
      <!--           </article>-->

      <!--           &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--           <article class="clothes-card-information-newprice">-->
      <!--             <p class="no-margin"><span>90.90</span> лв.</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--         <section class="clothes-card-saved-text-percent">-->

      <!--           <article class="clothes-card-saved-text">-->
      <!--             <p class="no-margin">Saved</p>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-saved-percent">-->
      <!--             <p class="no-margin">- <span>40</span>%</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-btn">-->

      <!--           <article class="btn-add">ADD</article>-->

      <!--           &lt;!&ndash; IF THE ITEM HAS ADDED ALREADY ! &ndash;&gt;-->

      <!--           &lt;!&ndash; <article class="nonbtn-added">ADDED BY ME</article> &ndash;&gt;-->

      <!--           &lt;!&ndash; <input type="button" value="ADD"> &ndash;&gt;-->

      <!--         </section>-->

      <!--       </div>-->

      <!--       <div class="main-clothes-card">-->

      <!--         <section class="clothes-card-icon-text">-->

      <!--           <article class="clothes-card-text">-->

      <!--             <article class="card-text-arrow-icon">-->
      <!--             </article>-->

      <!--             <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>-->

      <!--           </article>-->

      <!--           <article class="clothes-card-icon-favorite">-->
      <!--             <img src="/assets/images/assets/icon_favourite_off.png" alt="">-->
      <!--           </article>-->
      <!--         </section>-->

      <!--         <section class="clothes-card-img">-->

      <!--           <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-brand-size">-->

      <!--           <article class="clothes-card-information-brand">-->
      <!--             <span>BY MALENE BIRGER</span>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-information-size">-->
      <!--             <span>S</span>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-startprice-newprice">-->

      <!--           <article class="clothes-card-information-startprice">-->
      <!--             <p class="no-margin"><span>165.90</span> лв.</p>-->
      <!--           </article>-->

      <!--           &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--           <article class="clothes-card-information-newprice">-->
      <!--             <p class="no-margin"><span>90.90</span> лв.</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--         <section class="clothes-card-saved-text-percent">-->

      <!--           <article class="clothes-card-saved-text">-->
      <!--             <p class="no-margin">Saved</p>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-saved-percent">-->
      <!--             <p class="no-margin">- <span>40</span>%</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-btn">-->

      <!--           <article class="btn-add">ADD</article>-->

      <!--           &lt;!&ndash; IF THE ITEM HAS ADDED ALREADY ! &ndash;&gt;-->

      <!--           &lt;!&ndash; <article class="nonbtn-added">ADDED BY ME</article> &ndash;&gt;-->

      <!--           &lt;!&ndash; <input type="button" value="ADD"> &ndash;&gt;-->

      <!--         </section>-->

      <!--       </div>-->

      <!--       <div class="main-clothes-card">-->

      <!--         <section class="clothes-card-icon-text">-->

      <!--           <article class="clothes-card-text">-->

      <!--             <article class="card-text-arrow-icon">-->
      <!--             </article>-->

      <!--             <p class="no-margin clothes-like-customer-text"><span>17</span> customers like this</p>-->

      <!--           </article>-->

      <!--           <article class="clothes-card-icon-favorite">-->
      <!--             <img src="/assets/images/assets/icon_favourite_off.png" alt="">-->
      <!--           </article>-->
      <!--         </section>-->

      <!--         <section class="clothes-card-img">-->

      <!--           <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-brand-size">-->

      <!--           <article class="clothes-card-information-brand">-->
      <!--             <span>BY MALENE BIRGER</span>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-information-size">-->
      <!--             <span>S</span>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-information-startprice-newprice">-->

      <!--           <article class="clothes-card-information-startprice">-->
      <!--             <p class="no-margin"><span>165.90</span> лв.</p>-->
      <!--           </article>-->

      <!--           &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--           <article class="clothes-card-information-newprice">-->
      <!--             <p class="no-margin"><span>90.90</span> лв.</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         &lt;!&ndash; IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! &ndash;&gt;-->
      <!--         <section class="clothes-card-saved-text-percent">-->

      <!--           <article class="clothes-card-saved-text">-->
      <!--             <p class="no-margin">Saved</p>-->
      <!--           </article>-->

      <!--           <article class="clothes-card-saved-percent">-->
      <!--             <p class="no-margin">- <span>40</span>%</p>-->
      <!--           </article>-->

      <!--         </section>-->

      <!--         <section class="clothes-card-btn">-->

      <!--           <article class="btn-add">ADD</article>-->

      <!--           &lt;!&ndash; IF THE ITEM HAS ADDED ALREADY ! &ndash;&gt;-->

      <!--           &lt;!&ndash; <article class="nonbtn-added">ADDED BY ME</article> &ndash;&gt;-->

      <!--           &lt;!&ndash; <input type="button" value="ADD"> &ndash;&gt;-->

      <!--         </section>-->

      <!--       </div></div>-->


    </section>


  </section>

  <section class="main-pagination-section">

    <article class="pagination-article">

      <a href="" (click)="getPreviousPage(paginationNumber);sharedService.preventDefault($event)">&laquo;</a>
      <input type="number" #paginationNumber name="pagination-number" id="pagination-number-input" value="1"
             (change)="paginationCustomNumber(paginationNumber)">
      <a href="" (click)="getNextPage(paginationNumber);sharedService.preventDefault($event)">&raquo;</a>
      <span><b>from {{totalPages}} pages</b></span>


    </article>

  </section>


</div>
