<div class="popup-window" (click)="clickEv($event)">

  <div class="popup-window-login">

    <article class="popup-window-login-logo">
      <img src="/assets/images/logo-inWhite2.png" alt="logo">
    </article>

    <section class="popup-window-login-register-section">

      <!-- ACTIVE UNDERLINE [popup-active-btn] -->
      <ul class="popup-windows-login-register-nav no-padding no-margin">
        <li *ngIf="!isForgottenPassword">
          <a href="">
            <p class="popup-login no-margin" [class.popup-active-btn]="isLoginOrRegister" (click)="isLoginOrRegister = true;publicMethods.preventDefault($event)">LOGIN</p>
          </a>
        </li>

        <li *ngIf="!isForgottenPassword">
          <a href="">
            <p class="popup-register no-margin" [class.popup-active-btn]="!isLoginOrRegister" (click)="isLoginOrRegister = false;publicMethods.preventDefault($event)">REGISTER</p>
          </a>
        </li>

        <li *ngIf="isForgottenPassword">
          <a href="">
            <p class="popup-forgot-password no-margin" [class.popup-active-btn] = isForgottenPassword (click)="publicMethods.preventDefault($event)">FORGOTTEN PASSWORD</p>
          </a>
        </li>

      </ul>

    </section>

    <!-- LOGIN FORM -->
  <app-login-window *ngIf="isLoginOrRegister && !isForgottenPassword" (isForgottenEventEmitter)="showForgottenPasswordWindow()"></app-login-window>

    <!-- REGISTER FORM -->
    <app-register-window *ngIf="!isLoginOrRegister && !isForgottenPassword"></app-register-window>

<!--  FORGOTTEN PASSWORD FORM  -->
    <app-forgot-password *ngIf="isForgottenPassword" ></app-forgot-password>

  </div>

  <!-- <section class="popup-window-register">
    test2
  </section> -->

</div>
