 <section class="order-address-table">

       <article class="payment-title">
         <h2>ADDRESS</h2>
       </article>

       <article class="payment-divisor">
       </article>

       <section class="address-table-type">

         <article class="table-type-title">
           <h2>TYPE OF DELIVERY</h2>
         </article>

         <section class="table-type-delivery">

           <article class="type-delivery-article">
             <input class="delivery-article-radio second-hand-radio" type="radio" name="deliveryType" id="">
             <h1>DELIVERY TO ADDRESS</h1>
             <p class="delivery-article-total">TOTAL: APPROXIMATELY(8.10lv) DEPENDS ON THE LOCATION</p>
             <p class="delivery-article-days">DELIVERY IN <b>7</b> working days</p>
           </article>

           <article class="type-delivery-article">
             <input class="delivery-article-radio second-hand-radio" type="radio" name="deliveryType" id="">
             <h1>DELIVERY TO SPEEDY OFFICE</h1>
             <p class="delivery-article-total">TOTAL: 5.05lv</p>
             <p class="delivery-article-days">DELIVERY IN <b>5</b> working days</p>
           </article>

           <article class="type-delivery-article">
             <input class="delivery-article-radio second-hand-radio" type="radio" name="deliveryType" id="">
             <h1>DELIVERY TO SECOND-HAND SHOP</h1>
             <p class="delivery-article-total">TOTAL: <b class="second-hand-ship-color">FREE</b> </p>
             <p class="delivery-article-days">DELIVERY IN <b>3</b> working days</p>
           </article>

         </section>

       </section>

       <section class="address-table-own">

         <article class="table-own-title">
           <h2>SAVED ADDRESSES - OWN</h2>
         </article>

         <section class="table-own-addresses">

           <ng-container *ngFor="let address of addresses">
             <article class="own-addresses-article">
               <input type="radio" name="deliveryAddress" id="" class="second-hand-radio own-radio">
               <p>{{address.firstName}} {{address.lastName}}</p>
               <p>{{address.phoneNumber}}</p>
               <p>{{address.city}}</p>
               <p>{{address.neighborhood}}</p>
               <p>{{address.street}}</p>
               <p>{{address.streetNumber}}</p>
               <p>{{address.block}}</p>
               <p>{{address.entry}}</p>
               <p>{{address.floor}}</p>
               <p>{{address.apartment}}</p>
               <p>{{address.detailsAboutAddress}}</p>
             </article>

           </ng-container>

<!--           <article class="own-addresses-article">-->
<!--             <input type="radio" name="deliveryAddress" id="" class="second-hand-radio own-radio">-->
<!--             <p>FirstName LastNAme</p>-->
<!--             <p>Tel.</p>-->
<!--             <p>location</p>-->
<!--             <p>kvartal</p>-->
<!--             <p>ulitsa</p>-->
<!--             <p>nomer</p>-->
<!--             <p>blok</p>-->
<!--             <p>vhod</p>-->
<!--             <p>etaj</p>-->
<!--             <p>apartament</p>-->
<!--             <p>detayli za adres</p>-->
<!--           </article>-->

<!--           <article class="own-addresses-article">-->
<!--             <input type="radio" name="deliveryAddress" id="" class="second-hand-radio own-radio">-->
<!--             <p>FirstName LastNAme</p>-->
<!--             <p>Tel.</p>-->
<!--             <p>location</p>-->
<!--             <p>kvartal</p>-->
<!--             <p>ulitsa</p>-->
<!--             <p>nomer</p>-->
<!--             <p>blok</p>-->
<!--             <p>vhod</p>-->
<!--             <p>etaj</p>-->
<!--             <p>apartament</p>-->
<!--             <p>detayli za adres</p>-->
<!--           </article>-->

<!--           <article class="own-addresses-article">-->
<!--             <input type="radio" name="deliveryAddress" id="" class="second-hand-radio own-radio">-->
<!--             <p>FirstName LastNAme</p>-->
<!--             <p>Tel.</p>-->
<!--             <p>location</p>-->
<!--             <p>kvartal</p>-->
<!--             <p>ulitsa</p>-->
<!--             <p>nomer</p>-->
<!--             <p>blok</p>-->
<!--             <p>vhod</p>-->
<!--             <p>etaj</p>-->
<!--             <p>apartament</p>-->
<!--             <p>detayli za adres</p>-->
<!--           </article>-->

         </section>

       </section>

       <section class="payment-tables">

         <article class="payment-title">
           <h2>PAYMENT</h2>
         </article>

         <article class="payment-divisor">
         </article>


         <article class="payment-pay-shipment">

           <input type="radio" name="paymentMethod" id="" class="second-hand-radio">

           <article class="pay-shipment-texts">
             <h1>PAYMENT ON DELIVERY</h1>
             <p>Use the payment on delivery option if you want to purchase the product by cash on delivery.</p>
           </article>

         </article>

         <article class="payment-pay-epay">

           <input type="radio" name="paymentMethod" id="" class="second-hand-radio">

           <article class="pay-epay-texts">
             <h1>PAYMENT BY EPAY</h1>
             <p>Payment through your account in EPAY.BG.</p>
           </article>

           <img src="assets/images/card/icon_epay.png" alt="">

         </article>

         <article class="payment-pay-card">

           <input type="radio" name="paymentMethod" id="" class="second-hand-radio">

           <article class="pay-card-texts">
             <h1>PAYMENT BY CARD</h1>
             <p>Payment can be made with Visa and MasterCard credit cards and Visa Electron and Maestro debit cards.</p>
           </article>

           <article class="pay-card-images">
             <img src="assets/images/card/icon_maestro.png" alt="">
             <img src="assets/images/card/icon_visa.png" alt="">
             <img src="assets/images/card/icon_visa_electron.png" alt="">
             <img src="assets/images/card/icon_mastercard.png" alt="">
           </article>

         </article>

       </section>

     </section>
