<section class="return-text">

  <article class="return-first-text">
    <p>Each customer has the right to return the purchased goods within 14 days from the date of receipt. Underwear - bikinis, boxers and briefs are not subject to return  or replacement.
      Returnable products must meet the following conditions:</p>
  </article>

  <article class="return-second-text">

    <ul>
      <li>be in the form in which they were purchased without being treated in any way</li>
      <li>be with the original Second Hand label</li>
      <li>the shipment must contain a completed return form</li>
    </ul>

  </article>

  <article class="return-third-text">

    <p>If these conditions are not met, it is possible to refuse to accept the returned goods and not to refund the amount paid.
      To return a purchased item, please follow the steps:</p>

  </article>

</section>

<section class="return-text-guide-first">

  <article class="return-text-guide-span-number">
    <span>1</span>
  </article>

  <article class="return-text-guide-img">
    <img src="/assets/images/assets/stepOne_icon.svg" alt="">
  </article>

  <article class="return-text-guide-text">
    <p>Fill in the PRODUCT RETURN FORM, which you will receive in the shipment with each order.</p>
  </article>

</section>

<section class="return-text-guide-second">

  <article class="return-text-guide-span-number">
    <span>2</span>
  </article>

  <article class="return-text-guide-img">
    <img src="/assets/images/assets/stepTwo_icon.svg" alt="">
  </article>

  <article class="return-text-guide-text">
    <p>Pack the products you want to return by placing the completed PRODUCT RETURN FORM inside the package.</p>
  </article>

</section>

<section class="return-text-guide-third">

  <article class="return-text-guide-span-number">
    <span>3</span>
  </article>

  <article class="return-text-guide-img">
    <img src="/assets/images/assets/stepThird_icon.svg" alt="">
  </article>

  <article class="return-text-guide-text">
    <p>Send the shipment to:
      Varna, ZPZ, former brewery, warehouse Mania Online
      or
      Speedy's office: office 787, Varna, 9 Usta Kolyo Ficheto Str
      to search for Mania Online</p>
    <p>Important: Shipments that are returned by cash on delivery at the expense of Second Hand EOOD are not accepted.
      We will inform you by email upon receipt of the shipment with the returned products. The cost of returning the product is at the expense of the customer. The amount paid for the returned products will be refunded no later than 14 days after receipt of the shipment at our office.</p>
  </article>


</section>
