<!--&lt;!&ndash;    I MUST SHOW LOADING SPINNER WHILE LOADING RELOAD FROM API , AFTER THAT I MUST HIDE THIS SECTION AND SHOW CLOTHES!&ndash;&gt;-->
<!--<section class="loader-img-gif">-->
<!--  &lt;!&ndash;  <img class="loader-img" src="/assets/images/logo.png" alt="loader img"/>&ndash;&gt;-->
<!--  -->
<!--  <article class="loader-img-gif-article">-->
<!--  <img  src="/assets/images/loadingGif.gif" alt="loader gif" />-->
<!--  </article>-->
<!--</section>-->


<section class="loader-spinn loader-style">



  <div class="l">
    <article>L</article>
  </div>
  <div class="o">
    <article>O</article>
  </div>
  <div class="a">
    <article>A</article>
  </div>
  <div class="d">
    <article>D</article>
  </div>
  <div class="i">
    <article>I</article>
  </div>
  <div class="n">
    <article>N</article>
  </div>
  <div class="g">
    <article>G</article>
  </div>
</section>
