.contact-us-section > article {
  margin-bottom: 5px;
}

.footer-mail,
.footer-mobile,
.footer-clock {
  font-size: 25px;
}

.contact-us-section > article > span {
  font-size: 20px;
}

.footer-contactus-delivery {
  width: 1343px;
  display: flex;
  justify-content: space-evenly;
  /*border-top: 1px solid #8080801c;*/
  /*background-color: #8080801c;*/
  margin: auto;

}

@media only screen and (max-width: 1350px){

  .main-1324 {
    width: 100%;
    padding: 0 20px 0 20px;
    /*margin: 170px auto 0 auto;*/
  }

}
