 <section class="popup-window-register-form">

      <article class="popup-window-register-form-text">
        <p>10 BGN DISCOUNT for new registrations!</p>
        <p>-Apply code NEW10</p>
      </article>

      <form class="popup-window-register-form-form" action="#" method="post">

       <article class="popup-window-register-form-names">
        <input type="text" name="firstName" id="firstName" placeholder="First name">
        <input type="text" name="lastName" id="lastName" placeholder="Third name">
       </article>

        <input type="email" name="email" id="email" placeholder="Email">

        <input type="password" name="password" id="password" placeholder="Password">

        <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Confirm password">

       <article class="popup-window-register-form-gender">

         <input type="radio" name="gender" id="female-gender" value="female">
        <label for="female-gender">Female</label>

         <input type="radio" name="gender" id="male-gender" value="male">
         <label for="male-gender">Male</label>

       </article>

        <input type="submit" value="REGISTER" id="submit-register">

      </form>

    </section>
