/* POPUP WINDOW --- LOGIN AND REGISTER */
/* LOGIN >>>>>> */
.popup-window {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  /*display: none;*/
}

.popup-window-login-register-section {
  border-bottom: 1px solid black;
}

/*.popup-window-login,*/
/*.popup-window-register {*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  left: 50%;*/
/*  transform: translate(-50%, -50%);*/
/*  width: 500px;*/
/*  min-height: 100px;*/
/*  background-color: #fff;*/
/*}*/

.popup-window-login-logo {
  text-align: center;
  background-color: #B38B45;
}
.popup-window-login-logo > img {
  width: 30%;
}

.popup-login,
.popup-register {
  font-weight: 500;
  font-size: 22px;
  padding: 10px;
}

.popup-active-btn {
  border-bottom: 2px solid #b38e4d;
}

.popup-windows-login-register-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

/*.popup-window-login-form-form {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*.popup-window-login-form-text,*/
/*.popup-window-register-form-text {*/
/*  text-align: center;*/
/*  font-size: 20px;*/
/*}*/

/*.popup-window-login-form-text {*/
/*  font-weight: 600;*/
/*}*/

/*.popup-window-login-form,*/
/*.popup-window-register-form {*/
/*  width: 90%;*/
/*  margin: auto;*/
/*  !* display: none; *!*/
/*}*/

/*#email,*/
/*#password,*/
/*#repeatPassword {*/
/*  width: 100%;*/
/*}*/

/*#submit-login , #submit-register {*/
/*  width: 50%;*/
/*  background-color: #B38B45;*/
/*  color: white;*/
/*  cursor: pointer;*/
/*}*/

/*#email,*/
/*#password,*/
/*#submit-register,*/
/*#submit-login,*/
/*#repeatPassword,*/
/*#firstName,*/
/*#thirdName {*/
/*  margin-bottom: 20px;*/
/*  border-radius: 5px;*/
/*  padding: 5px;*/
/*  font-size: 1rem;*/
/*}*/

/*.login-form-forgot-password {*/
/*  width: 100%;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.login-form-forgot-password > a > p {*/
/*  float: right;*/
/*}*/

/* REGISTER >>>> */

/*.popup-window-register-form-form {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*.popup-window-register-form-names {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*}*/

/*.popup-window-register-form-text > p {*/
/*  font-weight: 600;*/
/*}*/

/*.popup-window-register-form-text > p:first-child {*/
/*  margin-bottom: 0;*/
/*}*/

/*.popup-window-register-form-text > p:last-child {*/
/*  margin-top: 0;*/
/*}*/

/*.popup-window-register-form-gender > label {*/
/*  font-size: 20px;*/
/*}*/

/*#male-gender {*/
/*  margin-left: 60px;*/
/*}*/

/*#male-gender , #female-gender {*/
/*  transform: scale(1.5);*/
/*  accent-color: #B38B45;*/
/*  margin-bottom: 20px;*/

/*}*/

/* POPUP WINDOW --- LOGIN AND REGISTER */
