<section class="promo-codes">

  <table class="promo-codes-table">
    <tr class="table-head">
      <th>Code</th>
      <th>Expire in</th>
      <th>Used</th>
      <th>Description</th>
    </tr>

    <tr class="table-body">
      <td>NEW10</td>
      <td>2023-01-01,00:00</td>
      <td>No</td>
      <td>10BGN discount for over 40BGN with code NEW10</td>
    </tr>

    <tr class="table-body">
      <td>NEW10</td>
      <td>2023-01-01,00:00</td>
      <td>No</td>
      <td>10BGN discount for over 40BGN with code NEW10</td>
    </tr>

  </table>


</section>
