<div class="index-container">
<!--  <section class="index-slogan-img-view max-with90">-->
  <section class="index-slogan-img-view main-1324">
    <img class="slide-images" [attr.src]="useLink" alt="image">
  </section>

<!--  <section class="index-discounts-img max-with90">-->
  <section class="index-discounts-img main-1324">
    <article class="discounts-img-ladies">
      <a href="">
        <img class="discounts-img-ladies-img" src="/assets/images/discounts/ladies-eightyPercent.jpg" alt="">
      </a>
    </article>

    <article class="discounts-img-mens">
      <a href="">
        <img class="discounts-img-mens-img" src="/assets/images/discounts/mens-eightyPercent.png" alt="">
      </a>
    </article>
  </section>

  <section class="index-text-box main-1324">
    <p class="index-text-box-text">ONLINE STORE FOR CLOTHES AND NEW OUTLET PRODUCTS</p>
  </section>

  <section class="charge-section main-1324">

    <article class="charge-section-title">
      <p class="charge-section-title-title">FROM NEW CHARGE</p>
    </article>

<!--    <article class="charge-slider max-with90">-->
    <article class="charge-slider">

      <div class="charge-card">

        <section class="charger-card-img">

          <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">

        </section>

        <section class="charge-card-information-brand-size">

          <article class="charge-card-information-brand">
            <span>BY MALENE BIRGER</span>
          </article>

          <article class="charge-card-information-size">
            <span>S</span>
          </article>

        </section>

        <section class="charge-card-information-startprice-newprice">

          <article class="charge-card-information-startprice">
            <p class="no-margin"><span>165.90</span> лв.</p>
          </article>

          <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
          <article class="charge-card-information-newprice">
            <p class="no-margin"><span>90.90</span> лв.</p>
          </article>

        </section>

        <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
        <section class="charge-card-saved-text-percent">

          <article class="charge-card-saved-text">
            <p class="no-margin">Saved</p>
          </article>

          <article class="charge-card-saved-percent">
            <p class="no-margin">- <span>40</span>%</p>
          </article>

        </section>

        <section class="charge-card-btn">

          <article class="btn-add">ADD</article>

          <!-- <article class="nonbtn-added">ADDED BY ME</article> -->

          <!-- <input type="button" value="ADD"> -->

        </section>

      </div>

      <div class="charge-card">

        <section class="charger-card-img">

          <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">

        </section>

        <section class="charge-card-information-brand-size">

          <article class="charge-card-information-brand">
            <span>BY MALENE BIRGER</span>
          </article>

          <article class="charge-card-information-size">
            <span>S</span>
          </article>

        </section>

        <section class="charge-card-information-startprice-newprice">

          <article class="charge-card-information-startprice">
            <p class="no-margin"><span>165.90</span> лв.</p>
          </article>

          <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
          <article class="charge-card-information-newprice">
            <p class="no-margin"><span>90.90</span> лв.</p>
          </article>

        </section>

        <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
        <section class="charge-card-saved-text-percent">

          <article class="charge-card-saved-text">
            <p class="no-margin">Saved</p>
          </article>

          <article class="charge-card-saved-percent">
            <p class="no-margin">- <span>40</span>%</p>
          </article>

        </section>

        <section class="charge-card-btn">

          <article class="btn-add">ADD</article>

          <!-- <article class="nonbtn-added">ADDED BY ME</article> -->

          <!-- <input type="button" value="ADD"> -->

        </section>

      </div>

      <div class="charge-card">

        <section class="charger-card-img">

          <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">

        </section>

        <section class="charge-card-information-brand-size">

          <article class="charge-card-information-brand">
            <span>BY MALENE BIRGER</span>
          </article>

          <article class="charge-card-information-size">
            <span>S</span>
          </article>

        </section>

        <section class="charge-card-information-startprice-newprice">

          <article class="charge-card-information-startprice">
            <p class="no-margin"><span>165.90</span> лв.</p>
          </article>

          <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
          <article class="charge-card-information-newprice">
            <p class="no-margin"><span>90.90</span> лв.</p>
          </article>

        </section>

        <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
        <section class="charge-card-saved-text-percent">

          <article class="charge-card-saved-text">
            <p class="no-margin">Saved</p>
          </article>

          <article class="charge-card-saved-percent">
            <p class="no-margin">- <span>40</span>%</p>
          </article>

        </section>

        <section class="charge-card-btn">

          <article class="btn-add">ADD</article>

          <!-- <article class="nonbtn-added">ADDED BY ME</article> -->

          <!-- <input type="button" value="ADD"> -->

        </section>

      </div>

      <div class="charge-card">

        <section class="charger-card-img">

          <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">

        </section>

        <section class="charge-card-information-brand-size">

          <article class="charge-card-information-brand">
            <span>BY MALENE BIRGER</span>
          </article>

          <article class="charge-card-information-size">
            <span>S</span>
          </article>

        </section>

        <section class="charge-card-information-startprice-newprice">

          <article class="charge-card-information-startprice">
            <p class="no-margin"><span>165.90</span> лв.</p>
          </article>

          <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
          <article class="charge-card-information-newprice">
            <p class="no-margin"><span>90.90</span> лв.</p>
          </article>

        </section>

        <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
        <section class="charge-card-saved-text-percent">

          <article class="charge-card-saved-text">
            <p class="no-margin">Saved</p>
          </article>

          <article class="charge-card-saved-percent">
            <p class="no-margin">- <span>40</span>%</p>
          </article>

        </section>

        <section class="charge-card-btn">

          <article class="btn-add">ADD</article>

          <!-- <article class="nonbtn-added">ADDED BY ME</article> -->

          <!-- <input type="button" value="ADD"> -->

        </section>

      </div>

      <div class="charge-card">

        <section class="charger-card-img">

          <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">

        </section>

        <section class="charge-card-information-brand-size">

          <article class="charge-card-information-brand">
            <span>BY MALENE BIRGER</span>
          </article>

          <article class="charge-card-information-size">
            <span>S</span>
          </article>

        </section>

        <section class="charge-card-information-startprice-newprice">

          <article class="charge-card-information-startprice">
            <p class="no-margin"><span>165.90</span> лв.</p>
          </article>

          <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
          <article class="charge-card-information-newprice">
            <p class="no-margin"><span>90.90</span> лв.</p>
          </article>

        </section>

        <!-- IF THERE IS NEW PRICE FOR THE PRODUCT , IT MUST BE SHOWED! -->
        <section class="charge-card-saved-text-percent">

          <article class="charge-card-saved-text">
            <p class="no-margin">Saved</p>
          </article>

          <article class="charge-card-saved-percent">
            <p class="no-margin">- <span>40</span>%</p>
          </article>

        </section>

        <section class="charge-card-btn">

          <article class="btn-add">ADD</article>

          <!-- <article class="nonbtn-added">ADDED BY ME</article> -->

          <!-- <input type="button" value="ADD"> -->

        </section>

      </div>

    </article>

  </section>

  <section class="popular-brands">

    <article class="popular-brands-title">
      <p class="popular-brands-title-p">POPULAR BRANDS</p>
    </article>

    <article class="popular-brands-title-brands main-1324">

      <section class="brand-card">

        <article class="brand-card-title">
          <span>NIKE</span>
        </article>

        <article class="brand-card-size">
          <span>582</span>
        </article>

        <article class="brand-card-status">
          <span>available products</span>
        </article>

      </section>

      <section class="brand-card">

        <article class="brand-card-title">
          <span>NIKE</span>
        </article>

        <article class="brand-card-size">
          <span>582</span>
        </article>

        <article class="brand-card-status">
          <span>available products</span>
        </article>

      </section>

      <section class="brand-card">

        <article class="brand-card-title">
          <span>NIKE</span>
        </article>

        <article class="brand-card-size">
          <span>582</span>
        </article>

        <article class="brand-card-status">
          <span>available products</span>
        </article>

      </section>

      <section class="brand-card">

        <article class="brand-card-title">
          <span>NIKE</span>
        </article>

        <article class="brand-card-size">
          <span>582</span>
        </article>

        <article class="brand-card-status">
          <span>available products</span>
        </article>

      </section>

      <section class="brand-card">

        <article class="brand-card-title">
          <span>NIKE</span>
        </article>

        <article class="brand-card-size">
          <span>582</span>
        </article>

        <article class="brand-card-status">
          <span>available products</span>
        </article>

      </section>

    </article>

  </section>

  <section class="why-choose-advice main-1324">
    <article class="why-choose-advice-title">
      <p>WHY CHOOSE SECOND-HAND ONLINE?</p>
    </article>

    <article class="why-choose-advice-flex">
      <section class="why-choose-advice-section">
        <article class="why-choose-advice-shipping">
          <i class="fas fa-shipping-fast"></i>
          <h3 class="no-margin">Free Shipping</h3>
          <p class="no-margin">Free shipping to all second hand store in all over the country</p>
        </article>

        <article class="why-choose-advice-load">
          <i class="fas fa-tshirt"></i>
          <h3 class="no-margin">DAILY CHARGING X 2</h3>
          <p class="no-margin">Every day we load new collection in 12:00 and 18:00</p>
        </article>

        <article class="why-choose-advice-percent">
          <i class="fas fa-percent"></i>
          <h3 class="no-margin">FALLING PRICES</h3>
          <p class="no-margin">The prices of newly loaded products are falling</p>
        </article>

        <article class="why-choose-advice-sale">
          <i class="fas fa-tags"></i>
          <h3 class="no-margin">ADDITIONAL OFFERS</h3>
          <p class="no-margin">Keep an eye on the site for additional discounts that accrue to current base discounts.</p>
        </article>

        <article class="why-choose-advice-products">
          <i class="fas fa-store"></i>
          <h3 class="no-margin">OVER 100 000 PRODUCTS</h3>
          <p class="no-margin">Each product in Our store is a single piece, which makes your style unique.</p>
        </article>

      </section>

      <article>
        <img src="/assets/images/website-why-mania-18be702e6fd.png" alt="">
      </article>

    </article>
  </section>

  <app-login-register-popup *ngIf="checkStatusOfWindow()"></app-login-register-popup>

</div>
