<div class="menu-container">

  <div class="nav-container">
    <section class="nav-container-section">
      <nav class="nav-container-section-nav">
        <ul class="nav-container-section-nav-ul">
          <li *ngIf="checkIsAdmin()" [class.nav-active-btn]="checkAdminClothWindow()" (click)="visibleAdminClothWindow()" class="admin-nav"><span>[ADMIN]</span> NEW ITEM</li>
          <li [class.nav-active-btn]="checkProfileWindow()" (click)="visibleProfileWindow()">PROFILE</li>
          <li [class.nav-active-btn]="checkOrdersWindow()" (click)="visibleOrdersWindow()">ORDERS</li>
          <li [class.nav-active-btn]="checkAddressesWindow()" (click)="visibleAddressesWindow()">ADDRESSES</li>
          <li [class.nav-active-btn]="checkPromoCodesWindow()" (click)="visiblePromoCodesWindow()">MY PROMO CODES</li>
          <li [class.nav-active-btn]="checkReturnWindow()" (click)="visibleReturnWindow()">RETURN</li>
          <li (click)="logout()">EXIT</li>
        </ul>
      </nav>
    </section>
  </div>

  <div class="profile-container">
    <app-admin-cloth *ngIf="checkAdminClothWindow()"></app-admin-cloth>
    <app-profile *ngIf="checkProfileWindow()"></app-profile>
    <app-orders *ngIf="checkOrdersWindow()"></app-orders>
    <app-addresses *ngIf="checkAddressesWindow()"></app-addresses>
    <app-promo-codes *ngIf="checkPromoCodesWindow()"></app-promo-codes>
    <app-return *ngIf="checkReturnWindow()"></app-return>

  </div>

</div>
