/* CHARGE CARD */
.charge-card {
  border: 1px solid rgba(0, 0, 0, 0.055);
  /* width: 20%; */
  margin-right: 1%;
}

.charge-slider > .charge-card:nth-child(5) {
  margin-right: 0;
}
/* DISABLED IT AFTER IMPLEMENTED SLIDER FROM OUT DIRECTORY */
/*.charge-slider {*/
/*  display: flex;*/
/*  justify-content: space-between;*/

/*}*/

.charge-card-information-brand-size {
  display: flex;
  justify-content: space-between;
}

.charge-card-information-brand > span {
  text-transform: uppercase;
  font-weight: 700;
}

.charge-card-information-size > span {
  text-transform: uppercase;
  font-weight: 100;
}

.charge-card-information-startprice-newprice {
  display: flex;
  justify-content: space-between;
}

.charge-card-information-startprice {
  color: grey;
}

.charge-card-information-newprice {
  color: #b99b68;
}

.charge-card-saved-text-percent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.charge-card-saved-percent > p {
  font-weight: 600;
  background-color: #ff7c00;
  color: white;
  padding: 4px;
  border-radius: 4px;
  margin-top: 5px;
}

.charge-card-btn {
  text-align: center;
  margin-top: 5px;
}

.btn-add,
.nonbtn-added {
  border-radius: 4px;
  font-size: 20px;
  padding: 5px;
}

.btn-add {
  background-color: #eeeeee;
  color: #b38e4d;
  cursor: pointer;
}
.nonbtn-added {
  background-color: #b38e4d;
  color: white;
}

.charger-card-img > img {
  width: 100%;
}

.charge-section-title {
  text-align: center;
}
.charge-section-title-title {
  font-size: 35px;
  font-weight: 700;
}
/* CHARGE CARD */
