<div class="main-page-cloth-preview-container">

  <section class="cloth-preview">

    <article class="cloth-preview-small-images">

      <img class="preview-small-image" src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg"
           alt="">

      <img class="preview-small-image" src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg"
           alt="">

      <img class="preview-small-image" src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg"
           alt="">

    </article>

    <article class="cloth-preview-big-image">
      <article class="favorite-icon">
        <img class="cloth-favorite-off" src="/assets/images/assets/icon_favourite_off.png" alt="">
        <!-- AFTER LIKED THE ITEM < SHOULD SHOW THE ICON BELOW -->
        <!-- <img class="cloth-favorite-on" src="/assets/images/assets/icon_favourite_on.png" alt=""> -->
      </article>
      <img src="/assets/images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">
    </article>

  </section>

  <section class="cloth-information">

    <article class="cloth-type-name">
      <span>Pulover</span>
    </article>

    <article class="cloth-brand-name">
      <span>GUESS</span>
    </article>

    <article class="cloth-size">
      <p><b>Size</b>: <span>S</span></p>
    </article>

    <article class="cloth-underline"></article>

    <article class="cloth-reccomend-price-from-supplier">
      <p><span><b>66.80 BGN</b></span> reccomend price from suplier.</p>
    </article>

    <article class="cloth-price-from-secondhand">
      <p class="no-margin cloth-price-header">Price SECOND HAND</p>
      <p class="no-margin">
                        <span class="price-cloth-span">
                            <b class="price-cloth-b">46.33 BGN</b> -30.64%
                        </span>
        saved
      </p>
    </article>

    <article class="cloth-add-bag-btn">
      <button class="second-hand-btn cloth-add-btn">ADD TO CART</button>
      <!-- SHOW IF THE ITEM HAS ALREADY ADDED TO CART  -->
      <!-- <button class="second-hand-btn cloth-add-btn">ADDED TO CART</button> -->
    </article>

    <article class="cloth-underline"></article>

    <article class="cloth-information-sex-color-season">

      <p class="no-margin"><b>Sex: </b><span>Female</span></p>

      <p class="no-margin"><b>Color: </b><span>Black</span></p>

      <p class="no-margin"><b>Season: </b><span>Winter</span></p>

      <p class="no-margin"><b>Composition: </b><span>Nylon</span></p>

      <p class="no-margin"><b>Description: </b><span>Тhe product has no traces of use</span></p>

    </article>

  </section>

  <section class="count-all-clothes-brand">
    <article class="cloth-underline"></article>

    <h4 class="no-margin h4-header-cloth">FROM THE SAME BRAND</h4>
    <h5 class="no-margin h5-header-cloth">GUESS ONLINE MAGAZINE</h5>
    <span>89</span>
    <p class="no-margin products-text">available products</p>

  </section>


</div>
