<div class="main-page-cloth-preview-container">

  <section class="cloth-preview">

    <article class="cloth-preview-small-images">

      <img class="preview-small-image" src="{{cloth?.coverPicture?.url}}" (click)="showPictureInMain = cloth?.coverPicture?.url"
           alt="">


      <img class="preview-small-image" src="{{cloth?.frontPicture?.url}}" (click)="showPictureInMain = cloth?.frontPicture?.url"
           alt="">

      <ng-container *ngFor="let clothh of cloth?.sidePictures">
        <img class="preview-small-image" src="{{clothh?.url}}" (click)="showPictureInMain = clothh?.url"
             alt="">
      </ng-container>



    </article>


    <article class="cloth-preview-big-image">

      <article class="favorite-icon">

        <ng-container [ngTemplateOutlet]="sharedService.checkItemIsAddedLike(cloth?.id) ? showLike : showUnlike"></ng-container>

        <ng-template #showUnlike >
          <img class="cloth-favorite-off" src="/assets/images/assets/icon_favourite_off.png" alt="no-like" (click)="likeCloth(cloth!)">
        </ng-template>

        <ng-template #showLike>
          <img class="cloth-favorite-on" src="/assets/images/assets/icon_favourite_on.png" alt="like">
        </ng-template>




        <!-- AFTER LIKED THE ITEM < SHOULD SHOW THE ICON BELOW -->
        <!-- <img class="cloth-favorite-on" src="/assets/images/assets/icon_favourite_on.png" alt=""> -->
      </article>
      <img src="{{showPictureInMain}}" alt="img">
    </article>

  </section>

  <section class="cloth-information">

    <article class="cloth-type-name">
      <span>{{cloth?.type}}</span>
    </article>

    <article class="cloth-brand-name">
      <span>{{cloth?.brand}}</span>
    </article>

    <article class="cloth-size">
      <p><b>Size</b>: <span>{{cloth?.size}}</span></p>
    </article>

    <article class="cloth-underline"></article>

    <article class="cloth-reccomend-price-from-supplier">
      <p><span><b>{{cloth?.startPrice}} BGN</b></span> reccomend price from suplier.</p>
    </article>

    <article class="cloth-price-from-secondhand">
      <p class="no-margin cloth-price-header">Price SECOND HAND</p>
      <p class="no-margin">
                        <span class="price-cloth-span">
                            <b class="price-cloth-b">{{cloth?.newPrice}}
                              BGN</b> -{{sharedService?.calculatePercentOfDiscount(cloth?.startPrice, cloth?.newPrice)}}
                          %
                        </span>
        saved
      </p>
    </article>

    <article class="cloth-add-bag-btn">

      <ng-container [ngTemplateOutlet]="sharedService.checkItemIsAddedCart(cloth?.id) == true ? added : add"></ng-container>

      <ng-template #added>
        <button class="second-hand-btn cloth-add-btn-added">ADDED TO CART</button>
      </ng-template>

      <ng-template #add>
        <button class="second-hand-btn cloth-add-btn-add" (click)="addToCart(cloth!)">ADD TO CART</button>
      </ng-template>

    </article>

    <article class="cloth-underline"></article>

    <article class="cloth-information-sex-color-season">

      <p class="no-margin"><b>Sex: </b><span>{{cloth?.sex}}</span></p>

      <p class="no-margin"><b>Color: </b><span>{{cloth?.color}}</span></p>

      <p class="no-margin"><b>Season: </b><span>{{cloth?.season}}</span></p>

      <p class="no-margin"><b>Composition: </b><span>{{cloth?.composition}}</span></p>

      <p class="no-margin"><b>Description: </b><span>{{cloth?.description}}</span></p>

    </article>

  </section>

  <section class="count-all-clothes-brand">
    <article class="cloth-underline"></article>

    <h4 class="no-margin h4-header-cloth">FROM THE SAME BRAND</h4>
    <h5 class="no-margin h5-header-cloth">GUESS ONLINE MAGAZINE</h5>
    <span>89</span>
    <p class="no-margin products-text">available products</p>

  </section>


</div>
