 <section class="popup-window-register-form">

      <article class="popup-window-register-form-text">
        <p>10 BGN DISCOUNT for new registrations!</p>
        <p>-Apply code NEW10</p>
      </article>

      <form #form="ngForm" class="popup-window-register-form-form" method="post" action="" (ngSubmit)="register(form)">

       <article class="popup-window-register-form-names">
        <input type="text" name="firstName" id="firstName" placeholder="First name" ngModel required>
        <input type="text" name="lastName" id="lastName" placeholder="Third name" ngModel required>
       </article>

        <input type="email" name="email" id="email" placeholder="Email" ngModel required>

        <input type="password" name="password" id="password" placeholder="Password" ngModel required [minlength]="6">

        <input type="password" name="confirmPassword" id="repeatPassword" placeholder="Confirm password" ngModel required [minLength]="6">

       <article class="popup-window-register-form-gender">

         <input type="radio" name="sex" id="female-gender" value="FEMALE" ngModel>
        <label for="female-gender">Female</label>

         <input type="radio" name="sex" id="male-gender" value="MALE" ngModel>
         <label for="male-gender">Male</label>

       </article>

        <input type="submit" value="REGISTER" id="submit-register" >

      </form>

    </section>
