<section class="flash-messages" appAlertMessagesGenerator>

<!--  <article class="flash-message-error">-->

<!--    <i class="far fa-times-circle error-icon"></i>-->

<!--    <p class="error-text">-->

<!--      <strong>ERROR! </strong>-->
<!--      <span class="error-user-message">-->
<!--            Please check where has * then fix them.-->
<!--      </span>-->

<!--    </p>-->

<!--    <i class="fa fa-times error-message-btn"></i>-->

<!--  </article>-->


<!--  <article class="flash-message-success">-->

<!--    <i class="far fa-check-circle success-icon"></i>-->

<!--    <p class="success-text">-->

<!--      <strong>Well done! </strong>-->
<!--      <span class="success-user-message">-->
<!--        You are successfully registered!-->
<!--      </span>-->

<!--    </p>-->

<!--    <i class="fa fa-times success-message-btn"></i>-->

<!--  </article>-->

<!--  <article class="flash-message-info">-->

<!--    <i class="fa fa-info-circle info-icon"></i>-->

<!--    <p class="info-text">-->

<!--      <strong>INFO! </strong>-->
<!--      <span class="info-user-message">-->
<!--        Only for information.-->
<!--      </span>-->

<!--    </p>-->

<!--    <i class="fa fa-times info-message-btn"></i>-->

<!--  </article>-->

</section>
