<section class="header-section">
  <article class="logo-title-article">
    <!--    <img src="images/logo.png" alt="logo image" />-->
    <img routerLink="/home" src="/assets/images/logo.png" alt="logo image"/>
  </article>
  <nav class="header-nav-article">
    <ul class="header-nav-ul">
      <li><a href="" #womenMenu (mouseover)="showItem(womenMenu)" [class.active-hover]="hideWomenArticle"
             routerLink="/clothes/women" (click)="cleanHiddenArticle()">Women</a></li>
      <li><a href="" #menMenu (mouseover)="showItem(menMenu)" [class.active-hover]="hideMenArticle"
             routerLink="/clothes/men" (click)="cleanHiddenArticle()">Men</a></li>
      <li><a href="" #childrenMenu (mouseover)="showItem(childrenMenu)" [class.active-hover]="hideChildrenArticle"
             routerLink="/clothes/children" (click)="cleanHiddenArticle()">Children</a></li>
      <li><a href="" #shoesMenu (mouseover)="showItem(shoesMenu)" [class.active-hover]="hideShoesArticle"
             routerLink="/clothes/shoes" (click)="cleanHiddenArticle()">Shoes</a></li>
      <li><a href="" #accessoriesMenu (mouseover)="showItem(accessoriesMenu)" [class.active-hover]="hideAccessoriesArticle"
             routerLink="/clothes/accessories" (click)="cleanHiddenArticle()">Accessories</a></li>
    </ul>
  </nav>
  <article *ngIf="booleansService.showProfileTextOnHeader" class="profile-names">
    <span>{{booleansService.setProfileTextName}}</span>
    <span class="hidden">PROFILE</span>
    <span class="hidden">ORDERS</span>
    <span class="hidden">ADDRESSES</span>
    <span class="hidden">MY PROMO CODES</span>
    <!--    <span>RETURN</span>-->
  </article>

  <article class="user-info">
    <ul class="header-user-nav">
      <li>
        <a href="">
          <i #showElementHeart (mouseover)="showItem(showElementHeart)" (mouseleave)="hideHeartTextDropDown = false"
             class="fas fa-heart"></i>
        </a>
        <article *ngIf="likedItemCounter > 0" class="bubble-heart-border">{{likedItemCounter}}</article>
        <article *ngIf="hideHeartTextDropDown" class="header-heart-dropdown-box"></article>
      </li>
      <li>
        <a href="">
          <i #showElementCart (mouseover)="showItem(showElementCart)" (mouseleave)="hideCartTextDropDown = false"
             class="fas fa-shopping-bag"
             (click)="showCartBox = true;publicMethod.preventDefault($event);startListenCartBoxHide()"></i>
        </a>
        <article *ngIf="cartItemCounter > 0" class="bubble-cart-border">{{cartItemCounter}}</article>
        <article *ngIf="hideCartTextDropDown" class="header-bag-dropdown-box"></article>
        <article class="cart-box" [class.hidden]="!showCartBox">
          <app-cart-box [cartBoxItemCounter]="cartItemCounter"></app-cart-box>
        </article>
      </li>
      <li>
        <a [routerLink]="checkIsLogged() ? '/profile' : '' ">

          <i #showElementUser class="fas fa-user" (mouseover)="showItem(showElementUser)"
             (mouseleave)="hideGuestOrLoggedUserTextDropDown = false"
             (click)="checkIsLogged() ? '' : showLoginRegisterWindow();publicMethod.preventDefault($event)"></i>
        </a>
        <article *ngIf="checkIsLogged() && hideGuestOrLoggedUserTextDropDown"
                 class="header-logged-user-dropdown-box"></article>
        <article *ngIf="!checkIsLogged() && hideGuestOrLoggedUserTextDropDown"
                 class="header-user-dropdown-box"></article>
      </li>
      <!--       <li>-->
      <!--                 <a href="">-->
      <!--                  <i class="fas fa-user"></i>-->
      <!--                 </a>-->
      <!--                  <article class="header-logged-user-dropdown-box">-->
      <!--                  </article>-->
      <!--              </li> -->
    </ul>
  </article>
</section>

<section class="hidden-section"
         *ngIf="hideAccessoriesArticle || hideShoesArticle || hideChildrenArticle || hideMenArticle || hideWomenArticle">
  <section *ngIf="hideWomenArticle" (mouseleave)="cleanHiddenArticle()" class="hidden-women-article">
    <article class="women-title-ul-article">
      <h3 class="women-title-ul-article-title">Ladies clothes</h3>
      <ul class="women-ul">
        <ng-container *ngFor="let femaleNav of userService.clothEnum?.clothType | filterPipe:{gender:'FEMALE'}">
          <li><a href="">{{femaleNav}}</a></li>
        </ng-container>

      </ul>
    </article>
    <article class="discounts-title-ul-article">
      <h3 class="discounts-title-ul-article-title">discounts</h3>
      <ul class="discounts-ul">
        <li>
          <a href="">From 0% to 30%</a>
        </li>
        <li>
          <a href="">From 30% to 60%</a>
        </li>
        <li>
          <a href="">Over 60%</a>
        </li>
      </ul>
    </article>
  </section>

  <section *ngIf="hideMenArticle" (mouseleave)="cleanHiddenArticle()" class="hidden-men-article">
    <article class="men-title-ul-article">
      <h3 class="men-title-ul-article-title">Male clothes</h3>
      <ul class="men-ul">

        <ng-container *ngFor="let maleNav of userService.clothEnum?.clothType | filterPipe:{gender:'MALE'}">
          <li><a href="">{{maleNav}}</a></li>
        </ng-container>

      </ul>
    </article>

    <article class="discounts-title-ul-article">
      <h3 class="discounts-title-ul-article-title">discounts</h3>
      <ul class="discounts-ul">
        <li>
          <a href="">From 0% to 30%</a>
        </li>
        <li>
          <a href="">From 30% to 60%</a>
        </li>
        <li>
          <a href="">Over 60%</a>
        </li>
      </ul>
    </article>
  </section>

  <section *ngIf="hideChildrenArticle" (mouseleave)="cleanHiddenArticle()" class="hidden-children-article">
    <article class="children-title-ul-article">
      <h3 class="children-title-ul-article-title">Kids clothes</h3>
      <ul class="children-ul">
        <li>
          <a href="">for girls</a>
        </li>
        <li>
          <a href="">for boys</a>
        </li>
      </ul>
    </article>

    <article class="discounts-title-ul-article">
      <h3 class="discounts-title-ul-article-title">discounts</h3>
      <ul class="discounts-ul">
        <li>
          <a href="">From 0% to 30%</a>
        </li>
        <li>
          <a href="">From 30% to 60%</a>
        </li>
        <li>
          <a href="">Over 60%</a>
        </li>
      </ul>
    </article>
  </section>

  <section *ngIf="hideShoesArticle" (mouseleave)="cleanHiddenArticle()" class="hidden-shoes-article">
    <article class="shoes-title-ul-article">
      <h3 class="shoes-title-ul-article-title">Shoes</h3>
      <ul class="shoes-ul">
        <li>
          <a href="">Ladies shoes</a>
          <br>
          <a href="">Male shoes</a>
        </li>
        <li>

        </li>
        <li>
          <a href="">Girls shoes</a>
          <br>
          <a href="">Boys shoes</a>
        </li>
      </ul>
    </article>

    <article class="discounts-title-ul-article">
      <h3 class="discounts-title-ul-article-title">discounts</h3>
      <ul class="discounts-ul">
        <li>
          <a href="">From 0% to 30%</a>
        </li>
        <li>
          <a href="">From 30% to 60%</a>
        </li>
        <li>
          <a href="">Over 60%</a>
        </li>
      </ul>
    </article>
  </section>

  <section *ngIf="hideAccessoriesArticle" (mouseleave)="cleanHiddenArticle()" class="hidden-accessories-article">
    <article class="accessories-title-ul-article">
      <h3 class="accessories-title-ul-article-title">Accessories</h3>
      <ul class="accessories-ul">
        <li>
          <a href="">Ladies accessories</a>
          <br>
          <a href="">Male accessories</a>
        </li>
        <li>

        </li>
        <li>
          <a href="">Girls accessories</a>
          <br>
          <a href="">Boys accessories</a>
        </li>
      </ul>
    </article>

    <article class="discounts-title-ul-article">
      <h3 class="discounts-title-ul-article-title">discounts</h3>
      <ul class="discounts-ul">
        <li>
          <a href="">From 0% to 30%</a>
        </li>
        <li>
          <a href="">From 30% to 60%</a>
        </li>
        <li>
          <a href="">Over 60%</a>
        </li>
      </ul>
    </article>
  </section>
</section>


<app-alert-messages></app-alert-messages>

<app-loading *ngIf="booleansService.checkLoadingPage()"></app-loading>

<section class="loggin-register-section">
  <app-login-register-popup *ngIf="checkStatusOfWindow()"></app-login-register-popup>
</section>

