.orders-table {
  border: 1px solid #e1e1e1;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}


.table-head {
  background-color: #e1e1e1;
  font-size: 20px;
  height: 40px;
}

.table-body {
  border: 1px solid #e1e1e1;;
}

.table-body > td {
  padding: 20px;
  font-size: 18px;
}
