<table class="orders-table">

  <tr class="table-head">

    <th>Order &#x2116;</th>
    <th>Date</th>
    <th>Summary</th>
    <th>Status</th>
    <!-- <th>Code</th> -->

  </tr>

  <tr class="table-body">

    <td>543jknb</td>
    <td>2022.02.01,17:10</td>
    <td>200,13BGN</td>
    <td>In progress</td>
    <!-- <tb></tb> -->

  </tr>

  <tr class="table-body">

    <td>543jknbfe235</td>
    <td>2022.02.01,17:10</td>
    <td>200,13BGN</td>
    <td>Waiting</td>
    <!-- <tb></tb> -->

  </tr>

  <tr class="table-body">

    <td>543jknb324234</td>
    <td>2022.02.01,17:10</td>
    <td>200,13BGN</td>
    <td>Sent</td>
    <!-- <tb></tb> -->

  </tr>

</table>
