<section class="popup-window-login-form">

  <article class="popup-window-login-form-text">
    <p>Log in to your account</p>
  </article>

  <form #form="ngForm" class="popup-window-login-form-form" action="" method="post"  (ngSubmit)="login(form)">

    <input type="email" name="email" id="email" placeholder="Email" ngModel >

    <input type="password" name="password" id="password" placeholder="Password" ngModel>

    <article class="login-form-forgot-password">
      <a href="">
        <p class="no-margin" (click)="showForgottenPasswordWindow();preventDefault($event)">Forgot password?</p>
      </a>
    </article>

    <input type="submit" value="LOGIN" id="submit-login">

  </form>

</section>
