
<ng-container [ngTemplateOutlet]="booleanService.getUserLikesCounter() > 0 ? showItems : showNoItems"></ng-container>

<ng-template #showItems>


  <!--  [ngClass]="{'header-bag-dropdown-clothes-box': cartBoxItemCounter > 0,'hidden' : cartBoxItemCounter <= 0}"-->
  <section class="header-bag-dropdown-clothes-box-likes">
    <article class="arrow-up">
      <img src="/assets/images/assets/cart-arrow.png" alt="">
    </article>

    <article class="clothes-box-header">
      <h4 class="no-margin clothes-box-header-h4">LIKED ITEMS</h4>
    </article>

    <article class="clothes-box-items">

      <section class="box-items-cloth" *ngFor="let cloth of booleanService.getUserLikeBoxItems()">

        <article class="box-items-cloth-img" [routerLink]="['/item/review',cloth.id]">
          <img src="{{cloth.coverPicture.url}}" alt="img">
        </article>

        <article class="box-items-cloth-information">

          <p class="cloth-information-brand no-margin">
            <span>{{cloth.brand}}</span>
          </p>

          <p class="cloth-information-type no-margin">
            <span>{{cloth.type}}</span>
          </p>

          <p class="cloth-information-size no-margin">Size:
            <span> {{cloth.size}}</span>
          </p>

        </article>

        <article class="cloth-information-price">
          <p class="no-margin cloth-price">

            <span class="cloth-price">{{cloth.newPrice}}</span>

            BGN
          </p>
        </article>

        <article class="cloth-remove-icon" (click)="removeClientLikeThenRefreshTheLikeBox(cloth)">

          <i class="fa fa-times"></i>

        </article>

      </section>

    </article>

    <!--    -->
<!--    <article class="clothes-box-items-summary">-->
<!--      <h5 class="no-margin cloth-total-price">TOTAL</h5>-->
<!--      <span class="cloth-total-price-number">{{booleansService.getUserCartTotalPrice()}} BGN</span>-->
<!--    </article>-->

<!--    <article class="clothes-box-items-btn">-->
<!--      <button class="second-hand-btn cloth-btn">NEXT</button>-->
<!--    </article>-->
  </section>

</ng-template>

<ng-template #showNoItems>

  <section class="header-bag-dropdown-empty-box" [class.hidden]="booleanService.getUserLikesCounter() > 0">
    <article class="dropdown-header-text">
      <h3 class="no-margin">LIKED ITEMS</h3>
    </article>

    <article class="dropdown-main-text">
      <p class="no-margin">There are no likes yet</p>
    </article>
  </section>

</ng-template>

