<div class="error-container">

  <section class="error-code">

    <article>
      <p class="error-code-p">404</p>
    </article>

  </section>

  <section class="error-text">

    <article class="error-text-article">
      <p>Oops!</p>
    </article>

    <article class="error-text-article">
      <p>We're sorry,</p>
    </article>

    <article class="error-text-article">
      <p>The page you were looking for doesn't exist.</p>
    </article>

  </section>

  <section class="error-btn">
    <button class="second-hand-btn" routerLink="home">Home page</button>
  </section>
</div>
