.popup-forgot-password-form {
  width: 90%;
  margin: auto;
}

.popup-window-forgot-password-form-text {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.popup-window-forgot-password-form-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit-confirm {
  width: 50%;
  background-color: #b38b45;
  color: white;
  cursor: pointer;
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
}
