<section class="order-review-table">

  <article class="review-table-count-articles">
    <p>You have 3 product(s) in the cart. Payment amount: BGN 185.36 with delivery included.</p>
  </article>

  <article class="review-table-my-articles">

    <section class="table-my-articles-title">
      <h2>MY PURCHASES</h2>
    </section>

    <section class="table-my-articles-articles">

      <article class="articles-articles-article">
        <img src="images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">

        <article class="article-information-text">
          <p class="article-information-text-brand"><b>Brand -> PUMA</b></p>
          <p class="article-information-text-type">Type -> Спортна тениска</p>
          <p class="article-information-text-size">Size: -> M</p>
        </article>

        <p class="articles-articles-price"><b>19.49</b> lv.</p>

        <a class="articles-articles-delete" href=""><i class="fas fa-times"></i></a>

      </article>

      <article class="articles-articles-article">
        <img src="images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">

        <article class="article-information-text">
          <p class="article-information-text-brand"><b>Brand -> PUMA</b></p>
          <p class="article-information-text-type">Type -> Спортна тениска</p>
          <p class="article-information-text-size">Size: -> M</p>
        </article>

        <p class="articles-articles-price"><b>19.49</b> lv.</p>

        <a class="articles-articles-delete" href=""><i class="fas fa-times"></i></a>

      </article>

      <article class="articles-articles-article">
        <img src="images/arrivedCharges/pulover-by-malene-birger-2.jpg" alt="">

        <article class="article-information-text">
          <p class="article-information-text-brand"><b>Brand -> PUMA</b></p>
          <p class="article-information-text-type">Type -> Спортна тениска</p>
          <p class="article-information-text-size">Size: -> M</p>
        </article>

        <p class="articles-articles-price"><b>19.49</b> lv.</p>

        <a class="articles-articles-delete" href=""><i class="fas fa-times"></i></a>

      </article>


    </section>

  </article>

  <article class="review-table-address-payment">

    <section class="address-payment-title">
      <h2>ADDRESS AND PAYMENT</h2>
    </section>

    <section class="address-payment-address-payment">

      <article class="address-payment-shipment-type">
        <h1>ИЗБРАН НАЧИН НА ДОСТАВКА</h1>
        <p>ДОСТАВКА ДО АДРЕС</p>
        <p>Сума 4.79лв</p>
        <p>Доставка до:3 работни дни</p>
      </article>

      <article class="address-payment-shipment-address">
        <h1>АДРЕС ЗА ДОСТАВКА</h1>
        <p>ИМЕ, ФАМИЛИЯ</p>
        <p>ТЕЛ:0894396766</p>
        <p>С.МЕДОВЕЦ ,9238</p>
        <p>КВАРТАЛ</p>
        <p>УЛИЦА, НОМЕР ,БЛ.БЛОК,ВХ.ВХОД</p>
        <p>ЕТ.ЕТАЖ,АП.АПАРТАМЕНТ</p>
        <p>ДЕТАЙЛ ЗА АДРЕС</p>
      </article>

      <article class="address-payment-shipment-pay-type">

        <h1>ИЗБРАН НАЧИН НА ПЛАЩАНЕ</h1>
        <p>Плащане с карта</p>

      </article>

    </section>

  </article>

  <article class="review-table-total">

    <section class="table-total-total-sum">

      <article class="total-sum-info">
        <p>Сума за 3 продукта:</p>
        <p>Общо отстъпки:</p>
        <p>Доставка:</p>
      </article>

      <article class="total-sum-total">
        <p><b>30.90</b> лв.</p>
        <p><b>-12.41</b> лв.</p>
        <p><b>4,79</b> лв.</p>
      </article>

    </section>

    <section class="table-total-title">
      <h1>TOTAL PRICE</h1>
      <p>23.28 lv.</p>
    </section>

  </article>

</section>
