<section class="personal-data">

  <article class="personal-data-title">
    <h4 class="no-margin personal-data-title-title">PERSONAL DATA</h4>
  </article>

  <form #formPersonalData="ngForm" action="" class="personal-data-form" method="post" (ngSubmit)="changePersonalData(formPersonalData)">

    <section class="float-left">
      <section class="personal-names">

        <section class="personal-first-name">

          <article class="personal-first-name-title">
            <h3 class="no-margin">Name</h3>
          </article>

          <article class="personal-first-name-input">
            <input #firstName ="ngModel" ngModel type="text" name="firstName" id="firstName" [placeholder]="user?.firstName" [class.error-border]="isNameIncorrect">
          </article>

        </section>

        <section class="personal-last-name">

          <article class="personal-last-name-title">
            <h3 class="no-margin">Last name</h3>
          </article>

          <article class="personal-last-name-input">
            <input #lastName="ngModel" ngModel type="text" name="lastName" id="lastName" [placeholder]="user?.lastName" [class.error-border]="isLastNameIncorrect">
          </article>

        </section>

      </section>

      <section class="personal-phonenumber">

        <article class="personal-phonenumber-title">
          <h3 class="no-margin">Phone</h3>
        </article>

        <article class="personal-phonenumber-input">
          <input #phoneNumber="ngModel" ngModel type="number" name="phoneNumber" id="phone" [placeholder]="user?.phoneNumber?.length === 0 ? '' : user?.phoneNumber !== null ?user?.phoneNumber : '' " [class.error-border]="isPhoneNumberIncorrect || phoneNumber.touched && phoneNumber.errors?.invalidNumber" phoneValidator required>
        </article>

      </section>

      <section class="personal-email">

        <article class="personal-email-title">
          <h3 class="no-margin">Email</h3>
        </article>

        <article class="personal-email-input">
          <input type="email" disabled name="" id="email" [placeholder]="user?.email">
        </article>

      </section>
    </section>

    <section class="float-right">
      <button class="second-hand-btn" type="submit" >SAVE</button>
    </section>

  </form>

</section>

<section class="change-password">

  <article class="change-password-title">
    <h4 class="no-margin change-password-title-title">CHANGE PASSWORD</h4>
  </article>

  <form #formPassword="ngForm" action="" class="change-password-form" method="post" (ngSubmit)="changePassword(formPassword)">


    <section class="float-left">

      <section class="change-password-current-password">

        <article class="change-password-current-password-title">
          <h3 class="no-margin">Current password</h3>
        </article>

        <article class="change-password-current-password-input">
          <input #currentPassword="ngModel" type="password" ngModel name="currentPassword" id="password" required
          [class.error-border]="(currentPassword.touched && (currentPassword.value.length < 3 || currentPassword.value.length > 15) || isCurrentPasswordIncorrect || isCurrentPasswordDifferentThanNewPassword )" >
        </article>

      </section>

      <section class="change-password-new-password">

        <section class="change-password-new-password-new">

          <article class="change-password-new-password-new-title">
            <h3 class="no-margin">New password</h3>
          </article>

          <article class="change-password-new-password-new-input">
            <input #newPassword="ngModel" ngModel type="password" name="newPassword" id="password-change" required [class.error-border]="isNewPasswordIncorrect || ( newPassword.touched && ( newPassword.value.length < 6 || newPassword.value.length > 15)) || isCurrentPasswordDifferentThanNewPassword">
          </article>
        </section>

        <section class="change-password-new-password-confirm">

          <article class="change-password-new-password-confirm-title">
            <h3 class="no-margin">Confirm password</h3>
          </article>

          <article class="change-password-new-password-confirm-input">
            <input #confirmPassword="ngModel" ngModel type="password" name="confirmPassword" id="password-change" required appPasswordValidator="newPassword" [class.error-border]="isConfirmPasswordIncorrect || (confirmPassword.touched && ( confirmPassword.value.length < 6 || confirmPassword.value.length > 15 ))">
          </article>

        </section>

      </section>

    </section>



    <section class="float-right">

      <button type="submit" class="second-hand-btn" >CHANGE</button>

    </section>

  </form>

</section>
