<section class="personal-data">

  <article class="personal-data-title">
    <h4 class="no-margin personal-data-title-title">PERSONAL DATA</h4>
  </article>

  <form action="" class="personal-data-form" method="post">

    <section class="float-left">
      <section class="personal-names">

        <section class="personal-first-name">

          <article class="personal-first-name-title">
            <h3 class="no-margin">Name</h3>
          </article>

          <article class="personal-first-name-input">
            <input type="text" name="" id="firstName" value="test1">
          </article>

        </section>

        <section class="personal-last-name">

          <article class="personal-last-name-title">
            <h3 class="no-margin">Last name</h3>
          </article>

          <article class="personal-last-name-input">
            <input type="text" name="" id="lastName" value="test">
          </article>

        </section>

      </section>

      <section class="personal-phonenumber">

        <article class="personal-phonenumber-title">
          <h3 class="no-margin">Phone</h3>
        </article>

        <article class="personal-phonenumber-input">
          <input type="number" name="" id="phone" value="08482343">
        </article>

      </section>

      <section class="personal-email">

        <article class="personal-email-title">
          <h3 class="no-margin">Email</h3>
        </article>

        <article class="personal-email-input">
          <input type="email" disabled name="" id="email" placeholder="taurus.ali47@gmail.com">
        </article>

      </section>
    </section>

    <section class="float-right">
      <button class="second-hand-btn" type="submit" disabled>SAVE</button>
    </section>

  </form>

</section>

<section class="change-password">

  <article class="change-password-title">
    <h4 class="no-margin change-password-title-title">CHANGE PASSWORD</h4>
  </article>

  <form action="" class="change-password-form" method="post">


    <section class="float-left">

      <section class="change-password-current-password">

        <article class="change-password-current-password-title">
          <h3 class="no-margin">Current password</h3>
        </article>

        <article class="change-password-current-password-input">
          <input type="password" name="" id="password">
        </article>

      </section>

      <section class="change-password-new-password">

        <section class="change-password-new-password-new">

          <article class="change-password-new-password-new-title">
            <h3 class="no-margin">New password</h3>
          </article>

          <article class="change-password-new-password-new-input">
            <input type="password" name="" id="password-change">
          </article>
        </section>

        <section class="change-password-new-password-confirm">

          <article class="change-password-new-password-confirm-title">
            <h3 class="no-margin">Confirm password</h3>
          </article>

          <article class="change-password-new-password-confirm-input">
            <input type="password" name="" id="password-change">
          </article>

        </section>

      </section>

    </section>



    <section class="float-right">

      <button type="submit" class="second-hand-btn" disabled>CHANGE</button>

    </section>

  </form>

</section>
